header{
  width:80%;
  height: 100px;

}
.widget{
  list-style-type: none;
  margin:0;
  padding:0;
}
.page-wrap{
  padding: 2rem 0;
}

.top-bar {
  /* list-style: none; */
  padding:50px;
  /* border:2px solid red; */
}

.top-bar li{
  display:inline;
}

.top-bar a{
  padding: 0.25rem 1rem;
}




.myPara{
  font-size:22px;
  color: blue;
}
